:root {
  /* color */
  --color-black: #3f454d;
  --color-white: #ffffff;
  --color-blue: #3b88c3;
  --color-yellow: #fbbe28;
  --color-pink: #fd7f84;
  --color-light-grey: #dfdfdf;
}

* {
  box-sizing: border-box;
}

body,
h1,
h2,
p,
div,
ul,
li,
dl,
dt,
dd,
form,
fieldset,
legend,
input,
button {
  margin: 0;
  padding: 0;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #000;
}
input,
button {
  vertical-align: middle;
}

body {
  background: #3f454d;
}
header {
  width: 500px;
  margin: auto;
}
main {
  width: 500px;
  margin: auto;
}
h1 {
  width: 100px;
  margin: auto;
  cursor: pointer;
  transition: transform 300ms ease;
}
button:hover,
h1:hover {
  transform: scale(1.1);
}
nav {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 15px;
}
h2 {
  text-indent: -9999px;
}
button {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  transition: transform 300ms ease;
}
.btn img {
  width: 50px;
}
.color_btn_blue {
  width: 60px;
  height: 40px;
  background: #3b88c3;
  border-radius: 3px;
  font-size: 16px;
}
.color_btn_yellow {
  width: 70px;
  height: 40px;
  background: #fbbe28;
  border-radius: 3px;
  font-size: 16px;
}
.color_btn_pink {
  width: 60px;
  height: 40px;
  background: #fd7f84;
  border-radius: 3px;
  font-size: 16px;
}
.items {
  width: 450px;
  height: 500px;
  margin: auto;
  overflow-y: scroll;
}
.items img {
  width: 70px;
  padding: 5px 15px 5px 15px;
}
.items li {
  background: #dfdfdf;
  margin: 1% 0 1% 0;
  border-radius: 3px;
  position: relative;
}
.items > li > span {
  position: absolute;
  top: 15px;
}
